<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
</head>
<body>
    <div class="container">
  
        <h3>
            Welcome to Text Analyzer, Purpose[{{purpose}}]
        </h3>
        <p>
            Input String : {{ inputstring }}
        </p>
        <p>
            Output String : {{ result }}
        </p>
        <br>
        <a class="btn btn-outline-primary" href="/">BACK</a>
  
    </div>
</body>
</html>